.message-box
  .message-info
    .message-info__upper
      .message-info__upper__name
        = message.user.name
      .message-info__upper__date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .message-info__message
      - if message.text.present?
        %p.Message__text
          = message.text
      = image_tag message.image.url, class: 'Message__image' if message.image.present?
      