.SideBar
  .user-name
    .user-box
      .user-box__nickname
        masa
      .user-box__icon
        = link_to "#", class: "user-box__icon__btn" do
          = icon('fas', 'edit')
          %span<>
        = link_to "#", class: "user-box__icon__btn" do
          = icon('fas', 'cog')

  .group-list
    .group-box
      .group-name
        英会話
      .new-message
        hello
