* {
  box-sizing: border-box;
}

@mixin common-tool($width, $height) {
  width: $width;
  height: $height;
}

@mixin font-tool($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

.wrapper{
  @include common-tool(100vh,100vw);
  display: flex;
}
  .SideBar {
    @include common-tool(300px,100vh)
  }
    .user-name{
      @include common-tool(100%,100px);
      background-color: #253141;
      display: flex;
      align-items: center;
    }
      .user-box { 
        @include common-tool(260px,20px);
        margin: 0px 20px;
        display: flex;
        justify-content: space-between;
        &__nickname {
          color: #ffffff;
          font-size: 16px;
        }
        &__icon {
          &__btn {
            color: #ffffff;
            text-decoration: none;
            .fa-cog {
              margin: 0px 0px 0px 5px;
            }
          }
        }
      }
    

    .group-list{
      @include common-tool(300px,calc(100vh - 100px));
      background-color: #2f3e51;
      padding: 0px 20px;
    }
      .group-box {
        padding: 20px 0px 40px 0px;
        color: #ffffff;
        text-decoration: none;
      }
        .group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        .new-message {
          font-size: 11px;
        }
  



  .MainChat {
    @include common_tool(calc( 100vw - 300px ),100%);
  }
    .group-info {
      background-color: #ffffff;
      height: 100px;
      display: flex;
      justify-content: space-between;
      padding: 0px 40px;
    }
      .info-box { 
        &__name {
          @include font-tool(20px,#333333);
          margin-top: 35px;
        }
        &__member {
          @include font-tool(12px,#999999);
          display: flex;
          margin-top: 15px;
          &__list {
            padding-left: 10px;
          }
        }
       
      }
      .edit-btn {
        @include common-tool(72px,40px);
        @include font-tool(16px,#38aef0);
        margin-top: 28px;
        border: 1px solid #38aef0;
        padding: 0px 20px;
        line-height: 40px;
        text-decoration: none;
      }
    .message-list{
      background-color: #fafafa;
      height: calc(100vh - 190px);
    }
      .message-box {
        @include common-tool(calc(100vw - 300px), calc(100vh - 190px));
        padding: 35px 40px 0px;
      }
        .message-info {
          margin-bottom: 46px;
          &__upper {
            display: flex;
            &__name {
            @include font-tool(16px, #333333);
          }
            &__date {
              @include font-tool(12px,#999999);
              padding-left: 10px;
            }
          }
          &__message {
            margin-top: 12px;
            @include font-tool(14px,#434a54 );
          }
        }

    .message-form {
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
      box-sizing: border-box;
    }
      .form-box {
        display: flex;
        justify-content: space-between;
      }
        .text-box {
          width: 100%;
          background-color: #fff;
          position: relative;
          display: flex;
          &__text {
            @include common-tool(100%,50px);
            border: none;
            padding: 0px 45px 0px 15px;
          }
          &__label {
            height: 50px;
            right: 10px;
            top: 13px;
            position: absolute;
            &__icon {    
              font-size: 25px;
            }
            &__file {
              display: none;
            }
          }
        }
        .submit-box {
          @include font-tool(16px,#fff );
          background-color: #38aef0;
          border: none;
          margin-left: 15px;
          padding: 0px 30px;
          height: 50px;
        }

       
      
      



